@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@font-face {
  font-family: Orator;
  src: url("../fonts/OratorStd.otf"); }

body {
  background: url("../img/bg.png") center !important; }

nav {
  position: fixed;
  bottom: 0;
  width: 100%; 
  background:white;}
  nav .row {
    background: white;
    min-height: 115px; }
  nav span {
    font-family: Orator;
    float: left;
    font-size: 24px;
    margin: 37px 0 0 35px; }
  nav ul {
    font-family: Orator;
    font-size: 24px;
    float: right;
    list-style-type: none;
	position:relative;
	}
    nav ul li {
      display: inline-block;
      padding: 15px 40px 0 40px; }
      nav ul li a {
        color: #222222;
        text-decoration: none; }
        nav ul li a:hover {
          text-decoration: underline; }
.homecontainer{
	
	
}
.viewWrap{
	background: url("../img/homebg.jpg")  center bottom;
}		  
.homewrap {
  
   }

.homeheadline {
  position: absolute;
  top: 200px;
  width: 300px; }
  .homeheadline span {
    font-family: Orator;
    font-size: 36px; }
  .homeheadline p {
    font-size: 26px;
    margin: 0;
    font-family: 'Raleway', sans-serif; }

.triangewrap {
  min-height: 56px;
  width: 110px;
  position: absolute;
  left:52px;
  bottom:63px;

  background: url("../img/whitetab.png") no-repeat bottom center;
   }
