<div id="aboutwrap">
<div class="row">
	<p>Hello! My name is Ernesto Garcia, founder and CEO of Comfort Vest. My family and I took a vacation to the river to enjoy the water and the scenery, and like most people who love water sports, we were required to wear traditional safety vests or “life vests”. While we played in the water, I noticed that my son drifted away from my reach as he attempted to swim towards me, and I also noticed he was in total discomfort. The “life vest” that my son was wearing constricted his armpits and neck, making it very difficult to swim properly. I then realized that not only was my son uncomfortable, but he was also at risk of injury or something worse. It was then that I found it necessary to create a safety vest that affords the wearer the benefit of comfort and mobility without compromising safety and practicality.</p>
	<p>To your fun and safety,<br>
Ernesto Garcia</p>
</div>
<div class="row">
<div class="large-8 large-centered columns"><iframe width="100%" height="480px" src="//www.youtube.com/embed/b1kxdi1BdGA" frameborder="0" allowfullscreen></iframe></div>
</div>
</div>