<section class="homecontainer">
	<div class="overlayBlue">
	<div class="homebar">
	<div class="row">
		<div class="homewrap">
			<div class="homeheadline">
				<span>Comfort Vest Superlight</span>
				
				
			</div>
			
			
		</div>
	</div>
</div>
</div>
	<div class="row">
		<div class="large-12 columns homepara">
			<p>Welcome to Comfort Vest! One single life vest for all types of water sports and recreation activities. From the relaxing boating weekend, to the extreme water ski adventure, our Comfort Vest Type III life vest is designed to provide more comfort, mobility, and safety to the water enthusiast. Approved by the U.S Coast Guard and the Underwriter’s Laboratories, the Comfort Vest’s unique design will make all water activities a much more pleasant and safe experience.</p>
			
			<p>What sets the Comfort Vest apart from other traditional vests?</p>

<p>The Comfort Vest’s superlight and comfortable design is made to provide less bulk and a secure fit for its users. It features adjustable straps along the sides and under the legs which provide the wearer a perfect fit regardless of body type and size. Unlike many other life vests, The Comfort Vest stays secured to the body and will not rise to the wearer’s chin and underarms, all while  providing a full range of motion. </p>
		</div>

		



	</div>
	<div class="row">
		<div class="imagegrid">
		
		  <img src="./img/vestfront.jpg">
		  <img src="./img/vestback.jpg">
		  <img src="./img/vestfront2.jpg">
		  <img src="./img/vestback2.jpg">
		
	</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<p class="homepara2">
				Weighing at only 1.5 lbs, the Comfort Vest is made durable with the highest quality material and its design provides a superior level of safety in unforeseen events. The Comfort Vest can withstand temperatures of up to 600 degrees Celsius (Fahrenheit?), features an easy-to-use rescue strap that can lift up to 800lbs, and a buoyancy dispersion design to keep a person “face-up” in case of exhaustion.
			</p>
		</div>
	</div>
</section>