<div class="productswrap">
  <div class="row">
  	<div class="large-3 columns">
  		<img src="./img/vest1.jpg">
  	</div>
  	<div class="large-3 columns">
  		<img src="./img/vest2.jpg">
  	</div>
  	<div class="large-3 columns">
  		<img src="./img/vest3.jpg">
  	</div>
  	<div class="large-3 columns">
  		<img src="./img/vest4.jpg">
  	</div>
  </div>



  <div class="row">
  	<div class="large-3 columns">
  		<div class="pricingwrap">
  			<p>child</p>
  			<p>$160.00</p>
  			<ul>
  				<li>Chest * N/A</li>
  				<li>Weight * 14-23kg (30-50 lb)</li>
  			</ul>
  		</div>
       <a class="button expand ">Buy Now</a>
  	</div>
  	<div class="large-3 columns">
  		<div class="pricingwrap">
  			<p>youth</p>
  			<p>$160.00</p>
  			<ul>
  				<li>Chest * 64-74cm (25-29 in)</li>
  				<li>Weight * 23-41kg (50-90 lb)</li>
  			</ul>
  		</div>
       <a class="button expand">Buy Now</a>
  	</div>
  	<div class="large-3 columns">
  		<div class="pricingwrap">
  			<p>adult s/m</p>
  			<p>$180.00</p>
  			<ul>
  				<li>Chest * 81-102cm (32-40 in)</li>
  				<li>Weight * more than 41kg (>90 lb)</li>
  			</ul>
  		</div>
       <a class="button expand">Buy Now</a>
  	</div>
  	<div class="large-3 columns">
  		<div class="pricingwrap">
  			<p>adult l/x</p>
  			<p>$180.00</p>
  			<ul>
  				<li>Chest * 102-132cm (40-52 in)</li>
  				<li>Weight * more than 41kg (>200lb)</li>

  			</ul>

  		</div>
      <a class="button expand">Buy Now</a>
  	</div>
  </div>

</div>